relations:
- - percona-cluster
  - hacluster

applications:
  percona-cluster:
    num_units: 3
    options:
      vip: {{ TEST_VIP00 }}
      min-cluster-size: 3
  hacluster:
    charm: cs:hacluster
    num_units: 0
    options:
      cluster_count: 3
